parameters:
    ignoreErrors:
        -
            message: '#Foreach overwrites \$event with its value variable.#'
            path:
                src/Controller/MainController.php

    treatPhpDocTypesAsCertain: false
