<form method="post" action="{{ path('rendez_vous_delete', {'id': rendez_vou.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce rendez-vous?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rendez_vou.id) }}">
    <button class="btn">Supprimer</button>
</form>
