{% extends 'base.html.twig' %}

{% block title %}Nouveau rendez-vous
{% endblock %}

{% block body %}
	<div id="main-wrapper">
		<div class="container mt-5">
			<h1 class="mb-4">Créer un rendez-vous :</h1>

			{{ include('rendez_vous/_form.html.twig') }}

			<div class="mt-1 d-flex row align-items-start bloc_boutons_modifier_crud">
				<div class="col-6"></div>
				<div class="col-6 col-6 text-center mt-1">
					<a class="button float-right" href="{{ path('rendez_vous_index') }}">Retour</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
