{% extends 'base.html.twig' %}

{% block title %}Édition contenu
{% endblock %}

{% block body %}
	<div id="main-wrapper">
		<div class="container">
			<h1 class="mb-2">Modification d'un contenu :</h1>

			{{ include('content/_form.html.twig', {'button_label': 'Modifier'}) }}

			<div class="mt-1 d-flex row align-items-start bloc_boutons_modifier_crud">
				<div class="col-lg-6 col-6  text-center float-left">
					{{ include('content/_delete_form.html.twig') }}
				</div>
				<div class="col-lg-6 col-6 text-center float-right">
					<a class="button" href="{{ path('content_index') }}">Retour</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
