{% extends 'base.html.twig' %}

{% block title %}Édition contenu
{% endblock %}

{% block body %}
	<div id="main-wrapper">
		<div class="container">
			<h1 class="mb-2">Édition de contenu :</h1>

			{{ include('content/_form.html.twig', {'button_label': 'Modifier'}) }}


	
		
			<div class="mt-1 d-flex row align-items-start bloc_boutons_modifier_crud">
				<div class="col-lg-6 col-6  text-center">
					{{ include('content/_delete_form.html.twig') }}

				</div>
				<div class="col-lg-6 col-6 text-center">
					<button class="" href="{{ path('content_index') }}">Retour</button>

				</div>
			</div>
		
		</div>


	</div>

{% endblock %}
