{% extends 'base.html.twig' %}

{% block title %}Édition contenu
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Édition de contenu</h1>

		{{ include('content/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('content_index') }}"><button class="mt-2">Retour</button></a>

			{{ include('content/_delete_form.html.twig') }}

		</div>

	{% endblock %}
