{% extends 'base.html.twig' %}
{% block title %}Nouveau contenu
{% endblock %}
{% block body %}
	<div id="main-wrapper">
		<div class="container">
			<h1 class="mb-2">Création de nouveau contenu :</h1>

			{{ include('content/_form.html.twig') }}


			<div class="mt-1 d-flex row align-items-start bloc_boutons_modifier_crud">
				<div class="col-6"></div>
				<div class="col-6 col-6 text-center">
					<a class="button float-right" href="{{ path('content_index') }}">Retour</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
