{% extends 'base.html.twig' %}

{% block title %}Nouveau contenu
{% endblock %}

{% block body %}
	<div id="main-wrapper">
		
		<div class="container">

			<h1 class="mb-2">Création de nouveau contenu</h1>

			{{ include('content/_form.html.twig') }}

			<a class="button mt-2 float-right" href="{{ path('content_index') }}">Retour</a>
		
		</div>
	</div>
{% endblock %}
