{% extends 'base.html.twig' %}

{% block title %}Nouveau contenu
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Création de nouveau contenu
		</h1>

		{{ include('content/_form.html.twig') }}

		<a href="{{ path('content_index') }}"><button class="mt-2">Retour</button></a>
	</div>
{% endblock %}
