<form method="post" action="{{ path('client_delete', {'id': client.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce client?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="">Supprimer</button>
</form>
