{% extends 'base.html.twig' %}

{% block title %}Nouveau client
{% endblock %}

{% block body %}
	<div id="prestation-wrapper">
		<div class="container mt-5">
			<h1 class="mb-2">Créer un nouveau client : </h1>

			{{ include('client/_form.html.twig') }}

			<div class="mt-1 d-flex row align-items-start bloc_boutons_modifier_crud">
				<div class="col-6"></div>
				<div class="col-6 col-6 text-center">
					<a class="button float-right" href="{{ path('client_index') }}">Retour</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
