{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
    <h1>Créer un nouveau Client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">Retour</a>
{% endblock %}
