<form method="post" action="{{ path('collaborateur_delete', {'id': collaborateur.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce collaborateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collaborateur.id) }}">
    <button class="">Supprimer</button>
</form>
