{% extends 'base.html.twig' %}

{% block title %}Edit Collaborateur{% endblock %}

{% block body %}
    <h1>Edit Collaborateur</h1>

    {{ include('collaborateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('collaborateur_index') }}">back to list</a>

    {{ include('collaborateur/_delete_form.html.twig') }}
{% endblock %}
