{% extends 'base.html.twig' %}

{% block title %}New Collaborateur{% endblock %}

{% block body %}
    <h1>Create new Collaborateur</h1>

    {{ include('collaborateur/_form.html.twig') }}

    <a href="{{ path('collaborateur_index') }}">back to list</a>
{% endblock %}
