<div class="col-4 col-12-medium">
    <!-- Sidebar -->
        <div id="sidebar">
            <section class="widget thumbnails">
                <h3>Bannière AD Garage</h3>
                <div class="grid">
                    <div class="row gtr-50">
                        <div class="col-12"><a href="#" class="image fit"><img src="" alt="" /></a></div>
                    </div>
                </div>
                <!--<a href="#" class="button icon fa-file-alt">More</a>-->
            </section>
        </div>
</div>