{% extends 'base.html.twig' %}

{% block title %}Erreur 404
{% endblock %}

{% block body %}
	<div id="main-wrapper">
		<div class="container error404">
			<div class="row">
				<div class="col-12 align-self-center">
					<h1>403</h1>
					<h2>UH OH! Vous êtes perdu.</h2>
					<p>La page demandée n'est pas autorisée.
																	 Mais vous pouvez cliquer sur le bouton ci-dessous pour être redirigé vers l'accueil.
					</p>
				</div>


				<div class="container mt-5">
					<div class=" d-flex flex-row row align-items-start">
						<div class="col text-center">
							<a href="{{path("home")}}">
								<button class="button">Accueil</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
{% endblock %}
