{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div id="main-wrapper">
		<div class="container">
			<div class="col">
			<div class="mainbox">
				<div class="err">4</div>
				<i class="far fa-question-circle fa-spin"></i>
				<div class="err2">4</div>
				<div class="msg">La page n'a pas été trouvée...Peut être qu'elle a été déplacée ou supprimée<p>Retour à l'<a href="{{path("home")}}">accueil</a>
					</p>
				</div>
			</div>
			</div>
		</div>
	</div>
{% endblock %}
