{% extends 'base.html.twig' %}

{% block title %}Plan du site
{% endblock %}
{% block body %}
	<div id="main-wrapper">
		<div class="container">
			<h1>Plan du site</h1>
			<ul>
				<li><ahref="{{ path("home") }}">Accueil</ahref=></li>
				<li><ahref="{{ path("nos_prestations") }}">Prestations</ahref=></li>
				<li><ahref="{{ path("contact") }}">Contact</ahref=></li>
				<li><ahref="{{ path("app_login") }}">Connexion</ahref=></li>
			</ul>
		</div>
	</div>
{% endblock %}
