{% extends 'base.html.twig' %}

{% block title %}
    Politique de confidentialité
{% endblock %}


{% set  horaires = "" %}
{% set  adresse = "" %}
{% set  telephone = "" %}
{% set  email = "" %}

{% if appConfig.getGarageHoraires() is not null %}

    {% set horaires = appConfig.getGarageHoraires().text %}

{% endif %}

{% if appConfig.getGarageAdresse() is not null %}

    {% set adresse = appConfig.getGarageAdresse().text %}

{% endif %}

{% if appConfig.getGarageTelephone() is not null %}

    {% set telephone = appConfig.getGarageTelephone().text %}

{% endif %}

{% if appConfig.getGarageEmail() is not null %}

    {% set email = appConfig.getGarageEmail().text %}

{% endif %}


{% block body %}
    <h1>Politique de confidentialité</h1>
        <h2>ARTICLE 1 : PRÉAMBULE</h2>
            <p>Cette politique de confidentialité s'applique au site Web <a href="https://mrc-sess-1-gr3.aliptic.fr/">https://mrc-sess-1-gr3.aliptic.fr/</a> dont l'éditeur est la société PISTONS & BOULONS immatriculée au RCS de LIMOGES sous le numéro 529 019 127 00024, au capital de 1 € et dont le siège social est situé au : 1 Quai des Mégisseries, 87200 SAINT JUNIEN</p>
            </br>
            <p>L'éditeur s'engage à protéger les données à caractère personnel conformément au Règlement Européen 2016/679, également connu sous le nom de "Règlement Général sur la Protection des Données".<p>
            </br>
            <p>Cette politique de confidentialité complète les mentions légales consultables à l'adresse suivante : LE LIEN VERS LES MENTIONS LEGALES</p>
        <h2>ARTICLE 2 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR CE SITE WEB</h2>
            <h3>DONNÉES COLLECTÉES ET TRAITÉES, ET LEUR MODE DE COLLECTE</h3>
                <p>L'éditeur collecte et traite les données personnelles de l'utilisateur uniquement aux fins décrites dans la présente politique de confidentialité. L'éditeur ne collecte et ne traite que les données personnelles nécessaires au bon traitement de sa demande ou à la personnalisation des services qui lui sont proposés.</p>
                </br>
                <p>Les différents modes de collecte utilisés sur ce site Web sont les suivants :</p>
                </br>
                <h4>Formulaire de contact :</h4>
                    </br>
                    <p>Les données à caractère personnel collectées lors de la soumission de ce formulaire sont les suivantes : nom, prénom, adresse postale, numéro de téléphone, adresse e-mail. Ces données sont collectées dans le but d'établir une relation et un suivi commercial par téléphone, e-mail ou courrier, et de répondre le plus précisément possible à toute demande d'information.</p>
                    </br>
                    <p>Ces données sont à destination des personnes en charge, en tout ou partie, de la gestion commerciale de la société PISTONS & BOULONS, et sont conservées pour une durée de 2 (deux) ans maximum.</p>
                    </br>
            <h3>TRANSMISSION DES DONNÉES À DES TIERS</h3>
                <h4>Google Maps</h4>
                    </br>
                    <p>Sur notre site, nous utilisons également Google Maps (API), fourni par Google. Lorsque vous accédez aux pages intégrant Google Maps, des informations concernant votre utilisation de notre site Internet (telles que votre adresse IP) sont envoyées aux serveurs Google aux États-Unis, où elles sont conservées, indépendamment du fait que vous soyez connecté à un compte Google ou pas. Si vous ne souhaitez pas que les données soient reliées à votre profil Google, vous devez vous déconnecter avant de continuer à naviguer sur notre site. Google conserve vos données comme profils d’utilisation et procède à leur analyse. De telles analyses sont effectuées conformément à l’article 6, paragraphe 1, point f du RGPD, sur la base de l’intérêt légitime de Google à la diffusion de publicités personnalisées, à la réalisation d’études de marché et/ou à une conception de son site Internet axée sur les besoins. Vous avez le droit de vous opposer à la création de ces profils d’utilisation. Pour exercer ce droit, vous devez prendre contact avec Google. Si vous refusez qu’à l’avenir vos données soient transmises à Google en lien avec l’utilisation de Google Maps, vous pouvez également désactiver entièrement le service Google Maps en désactivant l’application JavaScript dans votre navigateur. Google Map et l’affichage de carte sur ce site Internet ne pourront alors plus être utilisés.</p>
                    </br>
                    <p>Vous pouvez consulter les conditions d’utilisation de Google ici :</p>
                    <a href="http://www.google.fr/intl/en/policies/terms/regional.html">http://www.google.fr/intl/en/policies/terms/regional.html</a>
                    <a href="https://www.google.com/intl/fr/help/terms_maps.html">https://www.google.com/intl/fr/help/terms_maps.html</a>
                    <a href="http://www.google.fr/intl/fr/policies/privacy/">http://www.google.fr/intl/fr/policies/privacy/</a>
                    </br>
            <h3>CONSERVATION DES DONNÉES COLLECTÉES</h3>
                <p>Le responsable du traitement conservera dans ses systèmes informatiques l'ensemble des données collectées pour la durée déterminée en fonction du mode de collecte.</p>
                </br>
            <h3>HÉBERGEMENT DES DONNÉES</h3>
                <p>Ce site Web est hébergé par ALIPTIC dont le siège social est situé au : 1 Avenue d’Ester, 87000 Limoges - FRANCE. Cet hébergeur peut être contacté aux coordonnées accessibles à l'adresse <a href="https://www.aliptic.net/">https://www.aliptic.net/<a>.
                </br>
                <p>Les données collectées et traitées par le site Web sont exclusivement hébergées et traitées en France.</p>
        <h2>ARTICLE 3 : RESPONSABLE DU TRAITEMENT DES DONNÉES</h2>
            <h3>LE RESPONSABLE DU TRAITEMENT DES DONNÉES</h3>
                <p>Le responsable du traitement des données à caractère personnel est Baptiste SAINT PIERRE. Il peut être contacté par téléphone au 05 55 71 39 70, par courrier à son attention adressé au siège social de l'éditeur ou par e-mail à baptiste.saintpierre@aliptic.net.</p>
                </br>
                <p>Le responsable du traitement des données est chargé de déterminer les finalités et les moyens mis au service du traitement des données à caractère personnel.</p>
                </br>
            <h3>OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES</h3>
                <p>Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers, autre que ceux autorisés initialement sans que l'utilisateur n'en ait été informé, et à respecter les finalités pour lesquelles ces données ont été collectées.</p>
                </br>
                <p>Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'utilisateur est compromise, le responsable du traitement s'engage à informer l'utilisateur par tout moyen.</p>
        <h2>ARTICLE 4 : DROITS DE L'UTILISATEUR</h2>
            <p>Conformément à la loi n° 78-17 du 6 janvier 1978, relative à l'Informatique, aux Fichiers et aux Libertés, l'utilisateur dispose d'un droit d'accès, de rectification, de suppression ou d'opposition aux informations fournies.</p>
            </br>
            <p>Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer ses nom et prénom ainsi que son adresse e-mail, permettant ainsi de l'identifier.</p>
            </br>
            <p>Le responsable du traitement des données est tenu de répondre à l'utilisateur dans un délai de 30 jours maximum. Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'utilisateur, et que l'utilisateur souhaite contester cette décision, ou, s'il pense qu'il est porté atteinte à l'un des droits énumérés ci-dessus, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés, https://www.cnil.fr) ou tout juge compétent.</p>
            </br>
            <h3>DROITS DE L'UTILISATEUR EN MATIÈRE DE COLLECTE ET TRAITEMENT DES DONNÉES</h3>
            <p>L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en contactant l'éditeur ou le responsable du traitement des données stipulé à l'Article 3.</p>
            </br>
        <h2>ARTICLE 5 : POLITIQUE RELATIVE AUX COOKIES</h2>
            <p>Ce site Web a recours aux cookies. Un cookie est un fichier de petite taille, stocké par le site Web sur l'appareil de l'utilisateur et contenant des informations relatives à la navigation de l'utilisateur sur le site Web. Ces fichiers permettent de garantir le bon fonctionnement des services proposés par le site Web, de traiter des statistiques d'audience et des informations sur le trafic, d'améliorer le confort de la navigation de l'utilisateur et de proposer des fonctionnalités supplémentaires.</p>
            </br>
            <p>Il est porté à la connaissance de l'utilisateur qu'il peut s'opposer à l'enregistrement de ces fichiers cookies en configurant son logiciel de navigation. Dans le cas où l'utilisateur décide de désactiver les fichiers cookies, tout dysfonctionnement ou comportement anormal du site Web provoqué par cette manipulation ne pourrait être considéré comme étant du fait de l'éditeur du site Web.</p>
            </br>
            <p>L'éditeur du site Web attire l'attention de l'utilisateur sur le fait que les cookies suivants sont utilisés lors de sa navigation :</p>
            <h4>Cookies techniques de fonctionnement du site Web et de ses services :</h4>
            <p>Ces cookies sont utilisés pour garantir le bon fonctionnement de la navigation sur le site Web et du bon fonctionnement de ses différents services.</p>
            <h4>Cookies tiers de fonctionnalités supplémentaires :</h4>
            <p>Le site Web peut intégrer les services tiers suivants proposant des fonctionnalités supplémentaires, mais non-nécessaires au bon fonctionnement du site Web : Google Maps pour l'affichage de plans.</p>
            </br>
            <p>Des fichiers cookies de ces services tiers sont susceptibles d'être stockés sur l'appareil de l'utilisateur, qu'il utilise ses fonctionnalités ou non. L'attention de l'utilisateur est portée sur le fait que ces sites Web, mettant à disposition ces services, disposent de politiques de confidentialité propres et de conditions générales d'utilisation différentes de ce site Web, que l'éditeur conseille de consulter.</p>
            <h3>CONSENTEMENT DU DÉPÔT DE COOKIES TIERS</h3>
                <p>Pour l'utilisation de cookies tiers et non-nécessaires au bon fonctionnement du site Web, le consentement de l'utilisateur est nécessairement demandé. Ce consentement de l'utilisateur est considéré comme valide pour une durée de 12 mois. À l'issue de cette période, le site Web demandera à nouveau le consentement de l'utilisateur pour enregistrer ces fichiers cookies sur son appareil.</p>
                </br>
                <p>Conformément aux lois en vigueur, l'éditeur donne la possibilité à l'utilisateur d'activer ou désactiver tous les cookies tiers utilisés pour sa navigation sur ce site Web et non-nécessaires au bon fonctionnement du site Web, avec un consentement valable 12 mois avant que celui-ci soit à nouveau demandé.</p>
                </br>
                <p>En cas de renonciation au consentement, les fonctionnalités des services tiers ne seront ni activées, ni affichées, et ne seront donc pas utilisables lors de la navigation sur le site Web.</p>
        <h2>ARTICLE 6 : CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ</h2>
            <p>L'éditeur du site Web se réserve le droit de la modifier afin de garantir sa conformité avec le droit en vigueur. Par conséquent, l'utilisateur est invité à venir consulter régulièrement cette politique de confidentialité afin de se tenir informé des derniers changements qui lui seront apportés.</p>
    
{% endblock %}