<div id="main-wrapper">
	<div class="container">
		<div class="row gtr-200">

			<div
				class="col-lg-4 col-md-12 col-sm-12">
				<!-- Sidebar -->
				<div id="sidebar">
					<section class="widget thumbnails">
						<div class="grid">

							<div class="row align-self-center">
								<div class="col-12 col-12-medium col-12-small text-center">
									<a href="https://www.ad.fr" target="_blank" alt="Site AD Garage" title="Aller sur le site de AD Garage" class="image"><img id="banniere_ad" src="{{ asset('images/ad1.png') }}" alt=""/></a>
								</div>
							</div>
						</div>
						<!--<a href="#" class="button icon fa-file-alt">More</a>-->
					</section>
				</div>
			</div>

			<div
				class="col-lg-8 col-md-12 col-sm-12">
				<!-- Content -->
				<div id="content">
					<section class="last">

						<h2>Texte AD modifiable
							</h2>
								{# Condition d'affichage #}
						{% if contenuAffiliation is null %}
							<div class="container mt-5 mb-5">
								<div class="row gtr-200">
									<div class="col-12 col-12-medium imp-medium text-center ">

										<p class="maintenance mt-5">Section en cours de maintenance</p>

									</div>
								</div>
							</div>
						{% else %}
							
							<p>{{ contenuAffiliation }}</p>

						{% endif %}
					</section>
				</div>
			</div>

		</div>
	</div>
</div>
