{# C #}


<div class="col-lg-6 col-md-12">
	<div class="text-center mt-3 ">
		<img src="./public/css/images/libelle.png" alt="" class="libelleDesktop"/>
	</div>
	<h1>Nos informations de contact :</h1>
	<form class="" method="post" action="" role="form">
		<div class="col-md-12">
			<div class="form-group">
				<label for="">Adresse :</label>
                	{# Condition d'affichage #}
				{# {% if adresse is null %}
					<div class="container mt-1">
						<p class="maintenance">Non renseignée</p>
					</div>

				{% else %}

					{{ adresse }}

				{% endif %} #}
			</div>
			<div class="form-group">
				<label for="">Télephone :</label>
                {# Condition d'affichage #}
				{# {% if telephone is null %}
					<div class="container mt-1">
						<p class="maintenance">Non renseigné</p>
					</div>

				{% else %}

					{{ telephone }}

				{% endif %} #}
			</div>
			<div class="form-group">
				<label for="">Email :</label>
                	{# Condition d'affichage #}
				{# {% if email is null %}
					<div class="container mt-1">
						<p class="maintenance">Non renseigné</p>
					</div>

				{% else %}

					{{ email }}

				{% endif %} #}
			</div>
		</div>
	</form>
	<div class="text-center mt-5">

		<img src="./public/css/images/logo.png" alt="" class="logoDesktop"/>
	</div>


</div>
